:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #1f2937;
  /* font-weight: 400; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
* {
  scrollbar-width: none;
}
::-webkit-scrollbar
{
	width: 0px;
}


/** slide structure */
html {
  scroll-snap-type: y mandatory;
}
section {
  block-size: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items:flex-end;
  place-items: bottom;
  position: relative;
  padding: 0 15px 15px 0;
}

.slide {
  width: 400px;
  max-width: 90vw;
  background:rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  box-shadow: 5px 5px 10px #666;
  padding: 10px;
}

h1 {
  font-weight: bold;
  font-size: 1.3em;
  border-bottom: 1px solid #111827;
  padding: 0 0 4px;
}
h2 {
  font-size: 0.9em;
  font-weight: normal;
  margin: 4px 0;
}

p {
  padding-top: 8px;
}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.highlight {
  color: #be185d;
  stroke: #be185d;
  fill: #be185d;
  font-weight: 600;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
